.card {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 2em;
    background-color: aliceblue;
}

.card-body {
    background-color: aliceblue;
}

.title-position {
    margin: 3em 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}